# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# VS Code
.vscode/

# Environment Variable
.env

# macOS
.DS_Store

# Windows
Thumbs.db

# Generated output files
data/outputs/*.json